/* Initialisation de mon navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

 /* Début du CSS du Header */

header {
    width: 100%;
    display: flex;
    padding: 5px;
}

.logo{
    width:45%;
    display: flex;
    justify-content: center;
}

.div-navbar {
    width: 55%;
    align-content: center;
}

.list{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.list a{
    color: #b6b6b6;
}

.list a:hover{
    color: cornflowerblue;
    border-top: 5px solid cornflowerblue;
}

/* fin du CSS Header */

/* Début du CSS du main */

h3 {
    color: cornflowerblue;
    text-decoration: underline;
    margin-bottom: 15px;
}

h4{
    color: cornflowerblue;
    text-decoration: underline;
}

.intro{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.image-girl img {
    width: 95%;
    height: auto;
}

.image-girl{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow i{
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 60px;
}

.arrow{
    position: absolute;
    z-index: 3;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.blue{
    color: cornflowerblue;
}

.on-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 50%;
    color: white;
    left: 100px;
}

.big-text {
    display: flex;
}

.small-text {
    display: flex;
    
}
.on-photo button{
    background-color: cornflowerblue;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 10%;
}

.on-photo button:hover{
    background-color: #b6b6b6;
}

.services, .portfolio, .contacts{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-services, .title-projets, .title-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    
}

.title-services p, .title-projets p{
    margin-top: 15px;
}

hr{
    width:150px;
}

.fa-circle{
    color: cornflowerblue;
}

.double-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
}

.image-computeur{
    width: 50%;
}

.description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
}

.title-description{
    display: flex;
    align-items: flex-start;
    gap:15px;
}

.icon {
    position: relative;
    height: 60px;
    width: 60px;
}

.icon i {
    height: 60px;
    width: 60px;
    color: cornflowerblue;
}

.fa-chart-line {
    position: absolute;
    font-size: 30px;
    top:22px;
    left:-2px;
}

.fa-cubes, .fa-chart-pie{
    position: absolute;
    font-size: 30px;
    top:10px;
    left:-5px;
}

.dot {
    position: absolute;
    border: 3px solid #b6b6b6;
    border-radius: 50px;
    top:-7px;
    left: -21px;
    animation: rotation linear 4s infinite;
}

@keyframes rotation {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

.text-description{
    width: 80%;
    display: flex;
    flex-direction: column;
}


/* CSS section portfolio */

.button-projets{
    display: flex;
    margin-top: 15px;

}

.button-list a{
    color: black;
    background-color: grey;
    display: flex;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 5px;
    
}

.button-list a:hover{
    color: white;
    display: flex;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    background-color: cornflowerblue;
    padding: 5px;
    box-shadow: 2px 2px grey;
}

.button-list{
    width: 400px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.images-portfolio{
    margin: 15px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.images-portfolio figure{
    display: flex;
    flex-direction: column;
    width: 25%;
    position: relative;
    z-index: 0;
}

.images-portfolio img {
    width: 100%;
    height: auto;
}

.images-portfolio img:hover{
    position: relative;
    z-index: -2;
}

.images-portfolio figcaption{
    position: absolute;
    z-index: -1;
    background-color: #b6b6b6;
    color: white;
}

.figure {
    
    
}

.figure img{
   
}

.figure figcaption {
    top:140px;
    left: 15px;
}
 /* Debut CSS partie contact */

.contacts{
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maps {
    width: 90%;
}

iframe {
    position: relative;
    width: 100%;
    height: 800px;
    margin-top: 15px;
    margin-bottom: 50px;
    z-index: 10;
    opacity: 0.65;
}

.filter-blue{
    z-index: 1;
    position: absolute;
    bottom: 50px;
    width: 90%;
    height: 800px;
    background-color: lightskyblue;
}

form{
    z-index: 20;
    border: black solid 2px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px;
}

.form-contact{
    position: absolute;
    left: 65%;
    bottom: 360px;
    opacity: 0.8;
}

h6 {
    font-size: 1.5rem;
}

.form-contact button{
    background-color: cornflowerblue;
    border-radius: 5px;
    box-shadow: #b6b6b6 2px 2px;
    color: white;
    margin-top: 2%;
    width: 50%;
    height: 35px;
    font-weight: bold;
}

.form-contact button:hover{
    background-color: white;
    border-radius: 5px;
    box-shadow: #b6b6b6 3px 3px;
    color: cornflowerblue;
    margin-top: 2%;
    width: 50%;
    height: 35px;
    font-weight: bold;
}